/* General page styles */
p {
     font-family:'Roboto', serif ;
     color: white;
}

a {
    color: white;
}

body, html {
    background-color: black;
    height: 600px;
}

h2, h3 {
    color: white;
    font-family: 'Audiowide', serif;
}

header, section {
    margin: 0;
    height: 95vh;
    
}
section {
    margin-top: 10%;
}

.container-fluid {
    padding-left: 0%;
}


/* hero image and nav bar styles */

.logo {
    font-family: 'Audiowide', serif;
    color: white;
    margin-left: 20px;
}

.opening_page {
    background-image: url("../images/Hero_image.jpg"); 
    background-color:black; 
    min-height: 100% ; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

nav a {
    text-align: left;
    padding: 0;
    font-family: 'Roboto';
}

.list-inline {
    text-align: left;
    padding-left: 0;
}

/* about me styles */
#profile_image {
   filter: grayscale(100%);
   max-width:100% ;
   height: auto;
   float: left;
    
}

.bio {
    font-family: 'Roboto';
}
/* mixes styles*/

iframe {
    border: 0px; /*neccessary because html does not support the frameborder attribute that was initially applied to the iframe element */
    width: 100%;
}



/* bookings styles */

label {
    color:white;
}

.submit {
    margin-left: 20px;

}

/*footer styles */
.footer_icon {
    text-align: center;
    color: white;
    
}
footer i {
    
    padding-bottom: 20px;
}
