/* General page styles */
p {
     font-family:'Roboto', serif ;
     color: white;
}

a {
    color: white;
}

body, html {
    background-color: black;
    height: 600px;
}

h2, h3 {
    color: white;
    font-family: 'Audiowide', serif;
    margin-top: 10%;
}

header, section {
    margin: 0;
    height: 95vh;
    
}
section {
    margin-top: 10%;
    margin-bottom: 10%;
}

.container-fluid {
    padding-left: 0%;
}

.grey-background {
    background-color: #6c757d;
}

nav {
    display: block; 
    padding-bottom:50px;
}


/* hero image and nav bar styles */

.logo {
    font-family: 'Audiowide', serif;
    color: white;
    margin-left: 20px;
}

.heroimage {
    background-image: url("../images/Hero_image.jpg"); 
    background-color:black; 
    min-height: 90% ; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0; 
}


.list-inline {
    text-align: left;
    padding-left: 0;
}

/* about me styles */
#profile_image {
   filter: grayscale(100%);
   max-width:100% ;
   height: auto;
   float: left;
    
}

.bio {
    font-family: 'Roboto';
}

#about_me {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 90%;
    
}
/* mixes styles*/

iframe {
    border: 0px; /*neccessary because html does not support the frameborder attribute that was initially applied to the iframe element */
    width: 95%;
    padding: 20px;
}

#mix_section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 90%;
    
}



/* bookings styles */

label {
    color:white;
}

.submit {
    margin-left: 20px;
}

.booking-background {
    background-image: url("../images/decks_background.png"); 
    background-color:black; 
    min-height: 90% ; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0;
     
}

.form-area {
    margin-top: 10vh;
    margin-bottom: 10vh;

}

/*footer styles */
.footer_icon {
    text-align: center;
    color: white;
    
}
footer i {
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    background-color: #343a40;
}
